@import '../../styles/variables';

.menuBtnContainer {
  position: relative;
  width: 30px;
  height: 20px;
  margin: 0 auto;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.menuLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $grey;
  border-radius: 2px;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.bar:nth-child(1),
.bar:nth-child(2) {
  z-index: 1;
}

.bar:last-child::before {
  content: "MENU";
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%) translateY(5px);
  font-size: 12px;
  font-weight: bold;
  color: $primary-color;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.checkbox:checked + .menuLabel .bar:nth-child(1) {
  transform: translateX(-50px);
  opacity: 0;
}

.checkbox:checked + .menuLabel .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}

.checkbox:checked + .menuLabel .bar:last-child::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
