@import '../../../styles/_variables.scss';
@import '../../../styles/mixins.scss';

.card {
    width: calc(16.66% - 16.66px);
    padding: 30px;
    border: solid 1px $primary-color;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
    }

    .img-holder {
        width: 150px;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 20px;

        img {
            width: 100%;
            display: block;
        }
    }

    .textbox {
        border-radius: 5px;


        p {
            color: $primary-color;
            padding: 12px;
            text-align: center;
        }
    }

    @include respond(desktop) {
        width: calc(33.33% - 40px);
    }

    @include respond(tablet) {
        width: calc(50% - 35px)
    }

    @include respond(mobile) {
        width: 70%;
    }

}