$background: #e3e6f3;
$primary-color: #088178;
$grey: #6a726f; 
$light-black: #222;
$red: red;
$white: white;
$gold: rgb(255, 196, 0);
$dark-blue: #041e42;
$services-c1: #fddde4;
$services-c2: #cdebbc;
$services-c3: #d1e8f2;
$services-c4: #f6dbf6;
$services-c5: #fddde4;
$services-c6: #fff2e5;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1218px;
