@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import '../styles/mixins.scss';
@import '../styles/_variables.scss';

:root {
  --services-c1: #{$services-c1};
  --services-c2: #{$services-c2};
  --services-c3: #{$services-c3};
  --services-c4: #{$services-c4};
  --services-c5: #{$services-c5};
  --services-c6: #{$services-c6};
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'Inter', 'Roboto', sans-serif;
}

main{
  padding-top: 80px;
}


h1 {
  font-size: 50px;
  line-height: 64px;
  color: $light-black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: $light-black;
}

h4 {
  font-size: 20px;
  color: $light-black;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: $grey;
  margin: 15px 0 20px 0;
}

ul{
  color: $grey;
}

.container {
  @include container;
}
