@mixin container($max-width: 1400px, $padding: 0 15px) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;
}

@mixin button() {
  border: none;
  outline: none;
  background-color: $primary-color;
  color: $white;
  border-radius: 3px;
}

@mixin respond($size) {
  @if $size == mobile {
    @media (max-width: #{$breakpoint-mobile}) { @content; }
  }
  @else if $size == tablet {
    @media (max-width: #{$breakpoint-tablet}) { @content; }
  }
  @else if $size == laptop {
    @media (max-width: #{$breakpoint-laptop}) { @content; }
  }
  @else if $size == desktop {
    @media (max-width: #{$breakpoint-desktop}) { @content; }
  }
}