@import '../../styles/_variables';
@import '../../styles/animations.scss';
@import '../../styles/mixins.scss';

.contact {
  .map-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;

    .text {
      width: 40%;

      h5 {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 400;
        color: gray;
      }

      h3 {
        font-size: 31px;
        margin-bottom: 20px;
      }

      p i {
        margin-right: 20px;
      }

      @include respond(laptop) {
        width: 85%;
        margin-bottom: 50px;
      }
    }

    .map {
      width: 57%;
      height: 450px;

      iframe {
        width: 100%;
        height: 100%;
      }

      @include respond(laptop) {
        width: 80%;
      }
    }

    @include respond(laptop) {
      justify-content: center;
      margin-bottom: 100px;
    }
  }

  .contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px;
    border: solid 1px #ccc;
    margin-bottom: 50px;

    .inputs-section {
      width: 65%;

      h5 {
        color: $grey;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 15px;
      }

      h3 {
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 500;
      }

      .input {
        width: 100%;
        margin-bottom: 20px;

        input,
        textarea {
          display: block;
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
          margin-bottom: 3px;
        }

        input.shake,
        textarea.shake {
          @include shake;
        }

        textarea {
          min-height: 200px;
          resize: vertical;
        }

        .error {
          color: red;
          font-size: 14px;
          padding-left: 5px;
        }
      }

      button {
        padding: 20px 50px;
        @include button;
      }

      @include respond(laptop) {
        width: 85%;
        margin-bottom: 80px;
      }

      @include respond(mobile) {
        width: 100%;
      }
    }

    .employes .employe {
      display: flex;
      margin-bottom: 30px;

      .img-holder {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: block;
        }
      }

      p {
        line-height: 0.5;

        @include respond(mobile) {
          font-size: 13px;
        }
      }
    }

    @include respond(mobile) {
      padding: 20px;
    }
  }
}