@import '../../styles/mixins.scss';
@import '../../styles/variables';


.card-holder .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 120px;

      @include respond(tablet) {
        justify-content: center;
    }
}