@import '../../styles/mixins';
@import '../../styles/variables';

nav {
  width: 100%;
  background-color: $background;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 100;

  .navbar {
    @include container;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


    .overlay {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 82px);
      z-index: 99;
      pointer-events: all;
      backdrop-filter: blur(5px);
    }


    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-right: 50px;
        font-size: 18px;
        cursor: pointer;

        a {
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: inherit;
          transition: color 0.3s ease;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: $primary-color;
            transition: width 0.3s ease;
          }

          &:hover {
            color: $primary-color;

            &::after {
              width: 50%;
            }
          }
        }

        &.navActive {
          a {
            color: $primary-color;

            &::after {
              width: 50%;
              background-color: $primary-color;
            }
          }
        }

        &:last-child {
          margin-right: 0;

          a::after {
            display: none;
          }
        }
      }

      @include respond(tablet) {
        flex-direction: column;
        background-color: $primary-color;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
        z-index: 999;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1;


        li {
          margin-bottom: 60px;
          margin-right: 0;
          color: white;

          &:first-child {
            margin-top: 60px;
          }

          &.navActive a {
            color: white;
          }

          &.navActive a::after {
            width: 80%;
            background-color: white;
            left: 50%;
            transform: translate(-50%);
          }

          &:last-child {
            a::after {
              display: block;
            }
          }
        }

        &.open {
          opacity: 1;
          visibility: visible;
          z-index: 1777;
        }
      }
    }
  }
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 30px;
  display: none;
  z-index: 17777;

  @include respond(tablet) {
    display: block;
  }
}