@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

footer {
    padding: 80px 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;

        .contact {
            img {
                margin-bottom: 50px;
            }

            .contact-data {
                margin-bottom: 50px;


                span {
                    font-weight: bold;
                }
            }

            h4:last-of-type {
                margin-bottom: 10px;
            }

            .icons i {
                margin-right: 15px;
                color: $grey;
                cursor: pointer;
                transition: all 0.3s;


                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    transform: scale(1.5);
                    transition: all 0.3s;
                }
            }


        }

        .holder {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 30%;

            .about,
            .account {

                h4 {
                    margin-bottom: 20px;
                }

                ul li {
                    line-height: 2;
                    cursor: pointer;
                }
            }

            @include respond(desktop) {
                width: 50%;
            }

            @include respond(laptop) {
                width: 100%;
                padding: 80px;
            }

            @include respond(mobile) {
                flex-direction: column;
                justify-content: space-evenly;
                width: auto;

                .about {
                    margin-bottom: 50px;
                }
            }
        }

        .app {

            h4 {
                margin-bottom: 30px;
            }

            .stores {
                display: flex;
                flex-wrap: wrap;

                img {
                    border: solid 1px $primary-color;
                    margin-right: 10px;
                    border-radius: 5px;
                    padding: 0 10px;
                    transition: all 0.3s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.03);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s;

                    }

                    @include respond(mobile) {
                        flex-direction: column;
                        margin-bottom: 10px;
                        
                        
                    }
                }
            }
        }

        @include respond(desktop) {
            justify-content: space-around;
        }

    }

    .copyright {
        text-align: center;
    }
}