@import '../../styles/variables';
@import '../../styles/mixins.scss';

.card {
    width: calc(25% - 30px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    position: relative;


    .img-holder {
        width: 90%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    p {
        margin: 0;
    }

    .review {
        display: flex;
        color: $gold;
    }

    .price {
        color: $primary-color;
        font-weight: bold;
        font-size: 20px;
    }

    /* button {
        outline: none;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $services-c2;
        opacity: 50%;
        color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        transition: all 0.3s;


        &:hover {
            background-color: darken($color: $services-c2, $amount: 10%);
            color: darken($color: $primary-color, $amount: 10%);
            opacity: 80%;
            transition: all 0.3s;
        }
    } */


    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
    }

    @include respond(laptop) {
        width: calc(33.33% - 26.66px);
    }

    @include respond(tablet) {
        width: calc(50% - 20px);
    }

    @include respond(tablet) {
        width: 85%;
    }

}